<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WorkApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <!-- primer card -->
    <ion-card color="dark" @entrada>
      <ion-card-header>
        <ion-card-title>Brazos</ion-card-title>
       <!--<img src="assets/imagenes/brazo.png" alt="brazo">--> 
      </ion-card-header>
    </ion-card>
    <!--segundo card-->
    <ion-card color="dark" @entrada>
      <ion-card-header>
        <ion-card-title>Piernas</ion-card-title>
        <!--<img src="assets/imagenes/pierna.png" alt="pierna">-->
      </ion-card-header>
    </ion-card>
    <!--tercer card-->
    <ion-card color="dark" @entrada>
      <ion-card-header>
        <ion-card-title>Abdomen</ion-card-title>
        <!--<img src="assets/imagenes/abdomen.png" alt="abdomen">-->
      </ion-card-header>
    </ion-card>
    <!--cuarto card-->
    <ion-card color="dark" @entrada>
      <ion-card-header>
        <ion-card-title>Cardio</ion-card-title>
        <!--<img src="assets/imagenes/" alt="cardio">-->
      </ion-card-header>
    </ion-card>
  </div>

  
</ion-content>
